<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVIS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EXAMPLES.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MAMA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MAMDA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4400BD1F1642F57B000AF866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4412091C16B2818C005646FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4412092016B281BA005646FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4424BA90167FD00B0057D2C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437C0168227F700AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437D11682282C00AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437D91682286400AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437E1168228A500AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437E9168228BD00AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437F1168228CF00AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437F91682296300AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444438011682297400AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4454C8D816B3230000ECDF1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4458AC001667F4D00042365F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4458ACF6166809B70042365F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44AA5CF8167206A6000FB1D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44AA5D00167206B9000FB1D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44AA5D08167206CC000FB1D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44AA5D10167206DE000FB1D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44AA5D5016721BA8000FB1D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44AA5D5E16721BD1000FB1D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44DC9BD71668128900BC3673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44DC9C4416695F9D00BC3673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
