<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVIS Bridge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>All OpenMAMA.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MAMA C and C++.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MAMA and MAMDA JNI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MAMDA C++.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>QPID Bridge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Scons.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Test Tools.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Unit Tests and Examples.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Wombat Bridge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4400BD161642F51C000AF866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4400BD1F1642F57B000AF866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44013A2619465D1100D5D7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44013A44194674C500D5D7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44013A841947054A00D5D7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44013AB01947098F00D5D7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44013ADC19470A7D00D5D7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44013B021947126000D5D7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4412091C16B2818C005646FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4412092016B281BA005646FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4412D4E118F468740014724A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44132EC9193C61BC0044DB16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44132ED9193E30C20044DB16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4424BA90167FD00B0057D2C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>442BE20D1889258600C5BB94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>443AF87518A99346004AD07C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437C0168227F700AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437C91682281400AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437D11682282C00AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437D91682286400AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437E1168228A500AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437E9168228BD00AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437F1168228CF00AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444437F91682296300AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444438011682297400AFCCD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44481A09182AF12900DEC45F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44481A11182AF14E00DEC45F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44481A19182AF16800DEC45F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44481A21182AF19500DEC45F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4454C8D816B3230000ECDF1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4458AC001667F4D00042365F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4458AC7A166803330042365F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4458ACF6166809B70042365F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4462980318A1AE4D00E0D129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4462982618A381E100E0D129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4463945E188C60440029D869</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44786AC11880930600DDECCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44786AD71883358500DDECCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44906A9C18805F8C005AE074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44906AB318806104005AE074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44A4A21418805D870010CD75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44A4A22F18805E740010CD75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44A760E01885F9400050EF52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44A760E518880AE30050EF52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44A7610318889D2E0050EF52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44AA5CF8167206A6000FB1D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44AA5D00167206B9000FB1D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44AA5D08167206CC000FB1D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44AA5D10167206DE000FB1D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44AA5D5016721BA8000FB1D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44AA5D5E16721BD1000FB1D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44B830E1188F3D7B00904126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44B830F1189037CF00904126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44B8310C189047B100904126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44B83127189049BA00904126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44CC127118B694C80089C24E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44D5ABCE19461AA00067DFBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44DC9BCE1668124E00BC3673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44DC9BD71668128900BC3673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44DC9C4416695F9D00BC3673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44DE88471945C45A00B89561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44DE88721945E80C00B89561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44DE888E1945E81F00B89561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44DE88AA1945E82200B89561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44DE88BE1945E82600B89561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44E7B82819422E1100E7E490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44E7B84B1943353700E7E490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44E7B86F1943368A00E7E490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44EE1EA118B7469700256F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44EE790419386B6F0074DB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
